/vendor/
/node_modules/
/.env
/.env.backup
/.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
/npm-debug.log
/yarn-error.log
/storage/*.key
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/hot
/public/storage
/public/build
*.pdf
*.zip
*.tar.gz
/bootstrap/cache/*
.idea/
.vscode/
*.swp
*.swo
composer.phar
composer-setup.php
